@model PeliculasModel
@{
    ViewData["Title"] = "Editar Película";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">Editar Película</div>
    <div class="card-body">
        <form asp-action="Editar" method="post">

            <input type="hidden" asp-for="IdPelicula" />

            <div class="mb-3">
                <label asp-for="NombrePelicula" class="form-label">Nombre</label>
                <input asp-for="NombrePelicula" type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label asp-for="Sinopsis" class="form-label">Sinopsis</label>
                <textarea asp-for="Sinopsis" class="form-control" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <label asp-for="FechaLanzamiento" class="form-label">Fecha</label>
                <input asp-for="FechaLanzamiento" type="date" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Actualizar Cambios</button>
            <a asp-action="Listar" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>