<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD - Editar Usuario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>

<body>
    <main class="container mt-5">
        <h1 class="mb-4 text-center" style="font-weight: bold; font-size: larger; padding-left: 2rem;">
            EDITAR USUARIOS
        </h1>

        <form action="/editar/{{ usuario[0] }}" method="POST" class="form shadow p-4 rounded is-light">
            <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                    <input class="input" type="text" id="nombre" name="nombre" value="{{usuario[3]}}" placeholder="Ingrese su nombre" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Apellido</label>
                <div class="control">
                    <input class="input" type="text" id="apellido" name="apellido" value="{{usuario[4]}}" placeholder="Ingrese su apellido"
                        required>
                </div>
            </div>

            <div class="field">
                <label class="label">Correo Electrónico</label>
                <div class="control">
                    <input class="input" type="email" id="gmail" name="gmail" value="{{usuario[1]}}" placeholder="Ejemplo: usuario@gmail.com"
                        required>
                </div>
            </div>

            <div class="field">
                <label class="label">Contraseña</label>
                <div class="control">
                    <input class="input" type="password" id="contrasena" name="contrasena" value="{{usuario[2]}}"
                        placeholder="Ingrese su Contraseña" required>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-link">Editar</button>
                </div>
                <div class="control">
                    <button type="button" class="button is-link is-light" onclick="window.location.href='/';">Cancelar</button>
                </div>
            </div>
        </form>

    </main>

</body>

</html>