<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <main class="container mt-5">
        <h1 class="mb-4 text-center">
            USUARIOS
        </h1>

        <form action="/agregar" method="POST" class="shadow p-4 rounded bg-light">
            <div class="mb-3">
                <label for="gmail" class="form-label">Gmail: </label>
                <input type="email" class="form-control" id="gmail" name="gmail" placeholder="Ingrese su Gmail" required>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña: </label>
                <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Ingrese su Contraseña" required>
            </div>

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre: </label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su Nombre" required>
            </div>

            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido: </label>
                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese su Apellido" required>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary w-100">
                    AGREGAR
                </button>
            </div>
        </form>

        <table class="table mt-5 table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Gmail</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {%for usuario in usuarios%}
                <tr>
                    <td>{{ usuario[1] }}</td>
                    <td>{{ usuario[2] }}</td>
                    <td>{{ usuario[3] }}</td>
                    <td>{{ usuario[4] }}</td>
                    <td class="text-center">
                        <a href="/editar/{{ usuario[0] }}"class="btn btn-warning btn-sm">Editar</a>
                        <a href="/eliminar/{{ usuario[0] }}"class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>